services:
#  mongodb:
#    image: mongo:7.0
#    container_name: mongodb
#    restart: always
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: admin
#      MONGO_INITDB_ROOT_PASSWORD: admin123
#      MONGO_INITDB_DATABASE: jb_database
#    ports:
#      - "27017:27017"
#    healthcheck:
#     test: ["CMD", "mongosh", "--username", "admin", "--password", "admin123", "--eval", "db.adminCommand('ping')"]
#     interval: 5s
#     timeout: 5s
#     retries: 10
  springboot-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot-app
    restart: always
#    depends_on:
 #     mongodb:
 #       condition: service_healthy
#    environment:
 #     SPRING_DATA_MONGODB_URI: 'mongodb+srv://belomarkovic1:AXAwZnHMzScWAu7n@cluster0.h18s3su.mongodb.net/pet_tracker?retryWrites=true&w=majority'
	ports:
      - "8000:8000"
      - "5015:5015"  # Netty TCP
